<div class="container py-5">

  <div class="row">

    <div class="col-md-6">
        <div class="table">
          <thead>
            <tr>
              <th scope="col"><h3>To-do list</h3></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>{{task.name}}</td>
              <td><a href="#" (click)="edit(task)">Edit</a></td>
              <td><a href="#" (click)="delete(task.id)">Delete</a></td>
            </tr>
          </tbody>
        </div>
    </div>

    <div class="col-md-6">
        <h3>{{ task.id ? 'Editing Task '+ task.name : 'Add Task' }}</h3>
        <form class="mt-5" (ngSubmit)="save()" ngNativeValidate>
          <div class="mb-3 form-floating">
            <input id="name" name="name" type="text" class="form-control" [(ngModel)]="task.name" required/>
            <label for="name">Name</label>
          </div>
     
          <div class="btn-toolbar">
            <div>
            <button class="btn btn-outline-primary btn-lg">Save</button>
          </div>
          <div *ngIf="task.id" class="mx-4">
          <button class="btn btn-outline-secondary mr -1 btn-lg" (click)="refreshTask()">Cancel</button>
          </div>
          </div>

        </form>
    </div>

  </div>

</div>